
// Profile config names for nf-core/configs
params {
    config_profile_description = 'Ceres - USDA ARS'
    config_profile_contact = 'David Molik'
    config_profile_url = 'https://github.com/edwardbirdlab'
    priority = null
    clusterOptions='-N 1'
    schema_ignore_params = "clusterOptions"
    validationSchemaIgnoreParams = "clusterOptions,schema_ignore_params"
}

apptainer {
    enabled = true
    libraryDir = "/project/culicoides/bird_projects/containers/lib"
    cacheDir = "/project/culicoides/bird_projects/containers/temp"
    ociAutoPull = true
}


params {
    max_memory = 384.GB
    max_cpus   = 36
    max_time   = 504.h
}

process {
    executor = 'slurm'
    clusterOptions = { "${params.clusterOptions ?: ''}" }
    queue = 'short'
    errorStrategy = { sleep(200); return 'retry' }
    maxRetries = 2

    cpus   = { check_max( 32    * task.attempt, 'cpus'   ) }
    memory = { check_max( 224.GB * task.attempt, 'memory' ) }
    time   = { check_max( 72.h  * task.attempt, 'time'   ) }
}
